<!DOCTYPE html>
<html>
  <%- include('include/head'); %>
  <body>
    <div class="page-holder">
      <%- include('include/header'); %> <%- include('include/modal'); %>
      <div class="container">
        <%- include('include/hero'); %>
        <section class="py-5">
          <div class="container p-0">
            <div class="row"><%- include('include/sidebar'); %></div>
          </div>
        </section>
      </div>
      <%- include('include/footer'); %> <%- include('include/scripts_css'); %>
    </div>
  </body>
</html>
